<%- include('../layout/user/header.ejs') %>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Forgot Password</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item"><a href="/login">Login</a></li>
                <li class="breadcrumb-item active" aria-current="page">Forgot password</li>
            </ol>
        
        <div class="shadow-xl p-4 p-lg-5 bg-white forget">
            <p class="text-muted">Please enter your email below and we will send you a secure link to reset your password.</p>
            <form method="post" action="/forgotPassword">
                <div class="form-group">
                  <label for="forgot-password" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="forgot-password" placeholder="name@email.com" name="email" required>
                </div>
                <button type="submit"  class="btn d-block w-100 my-4" style="background-color: #242826;color: aliceblue;">Send Reset Link</button>
                <% if( messages.message ) { %>
                    <p style="color: red">
                      <%=messages.message %>
                    </p>
                    <%}%>
            </form>
        </div>
    </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    






<%- include('../layout/user/footer.ejs') %>
